html{
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #333;
  overflow-x: hidden;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

a {
  color: $mainRed;
}
