
.about{
  background-color:#00000D;
  padding-bottom: 64px;
  width: 100vw;
  height: 750px;
  position: relative;
}

.about__content{
  margin: 0 auto;
  max-width:1300px;
  text-align: center;
}

.about__title{
  margin-top: 0;
  margin-bottom: 32px;
  padding-top: 64px;
  color:  #CDCDCD;
  font-family: 'Abel', sans-serif;
  font-weight: lighter;
  font-size: 67px;
  letter-spacing: 0.5px;
  text-align: center;
  cursor: default;
}

.about__container{
  margin-right: -15px;
  margin-left: -15px;
  position: relative;
}

.about__column{
  position: absolute;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
  top: 50%;
  bottom: -50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.about__avatar {
  max-height: 300px;
  max-width: 300px;
  opacity: 0.8;
  border-radius: 50%;
}

.about__description {
  color: #B2B1B3;
  font-family: 'Economica', sans-serif;
  font-size: 19px;
  font-weight: 200;
  line-height: 1.4;
  max-width: 650px;
  max-height: 500px;
  text-align:center;
  background-color: #FFFFFF;
  background: rgb(25, 25, 25);
  background: rgba(25, 25, 25, .3);
  padding: 20px 25px 20px 25px;
  border-bottom: 0.5px solid #ffffff;
  border-top: 0.5px solid #ffffff;
}

.about__description:first-letter {
  font-size: 200%;
  line-height: normal;
}


.about__description:after {
  /* clearfix */
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width:680px) {
    .about {
      width: 100%;
      height: 850px;
    }
    .about__title {
      font-size: 60px;
    }
    .about__container {
      width: auto;
      height: auto;
    }
    .about__content {
      width: 100%;
    }
    .about__avatar {
      max-width: 250px;
      max-height: 250px;
    }
    .about__description {
      border-top: none;
      border-bottom: none;
    }
}
