@media screen and (max-width:680px) {
    .about {
      width: 100%;
      height: 850px;
    }
    .about__title {
      font-size: 60px;
    }
    .about__container {
      width: auto;
      height: auto;
    }
    .about__content {
      width: 100%;
    }
    .about__avatar {
      max-width: 250px;
      max-height: 250px;
    }
    .about__description {
      border-top: none;
      border-bottom: none;
    }
  .contact__content{
    width: 100%;
    padding: 0;
    border: none;
  }
    .void{
      width: 100%;
      height: auto;
      max-height: 1000px;
    }
    .void__title {
      font-size: 60px;
    }
    .void__description{
      display: none;
    }
    .void__description__mobile{
      display:block;
    }
    .void__bg{
      background-image: none;
    }
      ul.topnav {
        position: static;
        background-color:#333;
        height:inherit;
      }
      ul.topnav li:not(:first-child) {display: none;}
      ul.topnav li.icon {
        float: right;
        display: inline-block;
      }

      ul.topnav.responsive {
        position: relative;
      }
      ul.topnav.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
      }
      ul.topnav.responsive li {
        float: none;
        display: inline;
      }
      ul.topnav.responsive li a {
        display: block;
        text-align: left;
      }
        html {
             background: url("images/trailer.jpg") #000 no-repeat center center fixed;
        }
        #bgvid {
            display: none;
        }
      .trailer{
        height:100px;
      }
  }

@media screen and (max-width:1120px){
  .film__title{
    font-size: 60px;
    padding-top: 0;
  }
  .film{
    height:900px;
    width:100%;
  }
  .gallery__column{
    display:block;
  }
  .gallery__column:nth-of-type(2){
    margin: 0 auto;
  }
  .gallery__content {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 0;
  }
  .gallery__column{
    width:100%;
  }
  .box-container{
    margin-bottom: 5px;
  }
  .box{
    width:100%;
    transform: none;
  }
  .box--6{
    display: none;
  }
  .box--5{
    display: none;
  }
  .box--3{
    background-image: url("https://s26.postimg.org/7damz3epl/b_eight.jpg");
    width: 100%;
    height: 250px;
    border-radius: 3%;
  }

  .box--1{
    width:100%;
    height:250px;
    border-radius: 3%;
  }
  .box--2{
    width:100%;
    height:250px;
    border-radius: 3%;
  }
  .box--4{
  display: none;
  }
      .music {
        width: 100%;
        height: 1200px;
      }
      .music__title {
        font-size: 60px;
      }
      .music__bandcamp{
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      .music__description {
        width: 270px;
        height: 270px;
        border-top: none;
        border-bottom: none;
        padding: 0;
        font-size: 19px;
        color: #c9c8c9;
      }
      .music__bandcamp__container{
        height:1000px;
      }
      .music__icon__container {
        top: 90%
      }
        .void__gallery{
          padding-bottom: 0;
        }
        .gallery__title{
          font-size: 60px;
        }
        .void__gallery__column{
          display:block;
          width: 100%;
        }
        .void__gallery__content{
          display: block;
          width: 100%;
          height: auto;
          padding: 0;
          margin-bottom: 20px;
          margin-top: 50px;
        }
        .void__box-container {
          margin-bottom: 5px;
        }
        .void__box {
          width: 100%;
          filter: none;
        }
        .void__box--1 {
          width: 100%;
          height: 250px;
        }
        .void__box--2{
          display:none;
        }
        .void__box--3 {
          width: 100%;
          height: 250px;
        }
        .void__box--4 {
          width: 100%;
          height: 250px;
        }
        .void__box--5 {
          display: none;
        }
        .void__box--6 {
          display: none;
        }
        .void{
          width: 100%;
          height: auto;
          max-height: 1000px;
        }
        .void__title {
          font-size: 60px;
        }
        .void__description{
          display: none;
        }
        .void__description__mobile{
          display:block;
        }
        .void__bg{
          background-image: none;
        }
      }


@media screen and (max-width: 1020px) {
    .landing__button__container {
      display: none;
    }
    .landing__button {
      display: none;
    }
}
