/*.about {

  &__container {
    position: relative;
    margin: 10px;
    min-height: 550px;

    @mixin atSmall {
      margin-top: 20px;
      margin-bottom: 20px;
      height: 600px;
    }
  }

  &__column {
    position: absolute;
    padding: 15px 0;
    text-align: center;
    top: 50%;
    bottom: -50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }

  &__item {
    text-align: center;
  }

  &__avatar {
    border-radius: 50%;
    max-width: 250px;
    max-height: 250px;
    margin: 0 auto;
    transition: all 0.3s;

    @mixin atSmall{
      max-height: 350px;
      max-width: 350px;
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  &__description {
    font-size: 17px;
    border-top: none;
    border-bottom: none;
    padding: 0;
    width: auto;
    height: auto;
    color: #B2B1B3;
    font-family: 'Economica', sans-serif;
    font-weight: 200;
    line-height: 1.4;
    background: rgba(25, 25, 25, .3);

      &:first-letter{
        font-size: 200%;
        line-height: normal;
      }

      @mixin atSmall{
        font-size: 21px;
        width: 450px;
        height: 350px;
        margin: 0 auto;
        background: rgba(25, 25, 25, .3);
        padding: 20px 35px 20px 35px;
        border: 1px solid #ffffff;
      }
    }

  }*/

  .testimonial {

    background-color: rgba(255, 255, 255, .8);
    padding: 0 18px 1px 18px;
    margin-bottom: 98px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 18px;
    color: $darkBlue;
    font-weight: lighter;

    @mixin atLarge{
      margin-bottom: 0;
      padding: 0 1.8125rem 1px 1.8125rem;
    }

    &--last {
      margin-bottom: 0;
    }

    &__row {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 100px;

      @mixin atMedium {
        width: 60%;
      }
    }

    &__photo {
      border-radius: 80px;
      overflow: hidden;
      width: 160px;
      height: 160px;
      margin: 0 auto -80px auto;
      position: relative;
      top: -80px;
      border: 6px solid rgba(255, 255, 255, .8);
      transition: all 0.25s ease-out;

      &:hover {
        transform: scale(1.2);
      }
    }

    &__title {
      color: $darkBlue;
      text-align: center;
      font-size: 24px;
      font-weight: 500;
      margin: 0;
      margin-top: 15px;
      font-family: 'Oswald', sans-serif;
    }
  }
