.topnav {
  position: fixed;
  width: 100%;
  z-index: 5;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #383838;
  background: rgb(25, 25, 25);
  background: rgba(25, 25, 25, .5);
  height: 65px;

  li {
    float: left;

    &.lang{
      float: right;
    }
  }

  a {
    font-family: 'Abel', sans-serif;
    font-size: 21px;
    font-weight: 100;
    color: #CDCDCD;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: 20px 16px;
    transition: 0.3s;
  }
}

ul.topnav li a:hover {background-color: #555;}

ul.topnav li.icon {display: none;}

@media (max-width:680px) {
  ul.topnav {
    position: static;
    background-color:#333;
    height:inherit;
  }
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }

  ul.topnav.responsive {
    position: relative;
  }
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}
