.scroll {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:60px;
    height:60px;
    background-color:#ffffff;
    border: 1px solid black;
    text-indent:-9999px;
    display:none;

    span {
      position:absolute;
      top:50%;
      left:50%;
      margin-left:-8px;
      margin-top:-12px;
      /*height:0;
      width:0;
      border:8px solid #fff;*/
    }

    &:hover {
      background-color:$neonGreen;
      border: 1px solid white;
    }
}


@media (max-width: 600px) {
  .scroll {
    width: 40px;
    height: 40px;
  }
}

@media (mix-width: 2560px) {
  .scroll {
    width: 100px;
    height: 100px;
  }
}
